body {
  background-color: #535353;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
  padding: 3rem;
}
span {
  font-size: 4rem;
}
